{{#partial "content"}}
<div class="container">
    <form method="post" action="/departments">
        <div class="form-group">
            <label for="name">Department name :</label><br>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="story">Description of department :</label><br>
            <textarea name="story" id="story"></textarea>
        </div>
        <div class="form-group">
            <label for="no">Number of employees : </label><br>
            <input type="number" name="number">
        </div>
        <button type="submit" class="btn btn-success">Add new department</button>
    </form>
</div>
{{/partial}}
{{> layout.hbs}}