{{#partial "content"}}
    <div class="container">
        <form action="/news" method="post">
            <div class="form-group">
            <label for="author">Author of news :</label><br>
                <input type="text" name="author" id="author">
            </div>
            <div class="form-group">
                <label for="News">Notification/news</label><br>
                <textarea name="news" id="news"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit news</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}