{{#partial "content"}}
<div class="container">
    <h1>All Departments</h1>
    <h2>To add a department:
        <a href="/departments/new"> click here</a>
    </h2>
    <br>
    <br>
    <table class="table">
        <tr>
            <th scope="col">Department Name</th>
            <th scope="col">Description</th>
            <th scope="col">Number of employees</th>


        </tr>
        {{#each department}}
            <tr>
                <td>{{name}}</td>
                <td>{{story}}</td>
                <td>{{noOfEmployees}}</td>

            </tr>
        {{/each}}
    </table>
</div>
{{/partial}}

{{>layout.hbs}}