{{#partial "content"}}
    <h2>Welcome to TECH WORLD express</h2>
    <small>Technology is where we thrive</small>
    <div class="container">
    <a href="/departments/new"><button type="submit" class="btn btn-outline-secondary">Add a Department</button></a>
    <a href="/news/new"><button type="submit" class="btn btn-outline-secondary">Add company's news</button></a>
    <a href="/employees/new"><button type="submit" class="btn btn-outline-secondary">Add a employee</button></a>
    <a href="/special/new"><button type="submit" class="btn btn-outline-secondary">Add department's news</button></a>
    </div>
{{/partial}}
{{> layout.hbs}}