{{#partial "content"}}
    <a href="/departments/new"><button type="submit" class="btn btn-info">Add a Department</button></a>
    <a href="/news"><button type="submit" class="btn btn-info">Add company's news</button></a>
    <a href="/employees/new"><button type="submit" class="btn btn-info">Add a employee</button></a>
    <a href="/special/news/new"><button type="submit" class="btn btn-info">Add department's news</button></a>
{{/partial}}
{{> layout.hbs}}