    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Organisational news</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/departments">View all departments</a></li>
        <li role="presentation"><a href="/employees">View All employees</a></li>

        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Forms Menu <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/departments/new">Add a new department</a></li>
                <li><a href="/employee/form">Add a new employee</a></li>
            </ul>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}

        </div>
    </div>
    {{#block "footer"}}
        <footer class="footer">
            <div class="container">
                <hr>
                <p class="text-muted">
                </p>
            </div>
        </footer>
        </body>
    {{/block}}
</html>
