{{#partial "content"}}
    <div class="container">
    <table class="table">
        <tr>
            <th scope="col">author</th>
            <th scope="col">news</th>
            <th scope="col">Department Id</th>


        </tr>
        {{#each special}}
            <tr>
                <td>{{author}}</td>
                <td>{{news}}</td>
                <td>{{departmentId}}</td>
            </tr>
        {{/each}}
    </table>
    </div>
{{/partial}}
{{> layout.hbs}}